[Desktop Entry]
Exec=apkd-launcher /data/app/fm.xiami.main-1.apk fm.xiami.main/fm.xiami.main.SplashActivity
Icon=/var/lib/apkd/apkd_launcher_fm_xiami_main-fm_xiami_main_SplashActivity.png
Name=虾米音乐
Type=Application
Version=1.0
X-Nemo-Application-Type=no-invoker
X-Nemo-Single-Instance=no
X-apkd-apkfile=/data/app/fm.xiami.main-1.apk
X-apkd-packageName=fm.xiami.main
MimeType=text/html;x-maemo-urischeme/http;x-maemo-urischeme/https;
